* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

main {
  display: block;
  margin: auto;
  max-width: 960px;
  padding: 0 20px;
}

.description {
  margin-bottom: 1em;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

a {
  padding: .25em;
}

@media (min-width: 768px) {
  .grid {
    display: grid;

    /* grid-template-areas: "title title"
                         "description media"
                         "links media"; */

    grid-template-columns: 30% 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 2em;
  }

  .title {
    grid-column: 1/ span 2;
    grid-row: 1;
    grid-area: 1 / 1 / 1 / span 2;
    /* grid-area: title; */
  }

  .description {
    grid-column: 1/1;
    grid-row: 2;
    /* grid-area: description; */
  }

  .media {
    grid-column: 2;
    grid-row: 2 / span 2;
    /* grid-area: media; */
  }

  .links {
    grid-column: 1;
    grid-row: 3;
    /* grid-area: links; */
  }
}
